.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    /* background-color: rgba(0, 0, 0, 0.9);
     */
    background: linear-gradient(180deg,
            #eaeeff 0%,
            rgba(234, 238, 255, 0.96875) 80%,
            rgba(234, 238, 255, 0) 100%);
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
    height: 120px;
}

.logo img {
    width: 70px;
    height: auto;
}

.navitems {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    list-style-type: none;
    font-size: 19px;
}

.navitems li {
    margin-right: 15px;
}

.Navlinks {
    text-decoration: none;
    color: #1e2340;
}

.Navlinks svg {
    margin-right: 5px;
}

.active {
    font-weight: 700;
    background-color: indigo;
    /* font-size: 25px; */
    padding: 5px 8px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.active a {
    color: white;
}

.active-icon {
    color: yellow;
}

.login-button {
    /* text-decoration: none; */
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: coral;
    color: whitesmoke;
}

.login-button:hover {
    background-color: orange;
    color: coral;
    transition: 0.3s;
}

.login-button p {
    text-decoration: none;
    color: white !important;
}